<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/3682b977b2.js" crossorigin="anonymous"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static '/videos/css/style.css'%}">
    
</head>
<body>
    <header>
        <nav>
            <div id="logo">
                <i class="fas fa-film fa-spin"></i>
                <span class="logo-texto">
                    CAC - Movies
                </span>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'quienes_somos' %}">Quienes somos</a>  </li>
                <li><a href="{% url 'listado_pelicula'%}">Peliculas</a></li>
                <li><a class="btn-cac" href="#">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="login-texto">
                        Iniciar Sesión
                    </span>    
                    </a> 
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block contenido %} {% endblock %}
    </main>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>