{% extends 'base.html' %}

{% block titulo %}Listado de Peliculas{% endblock%}

{% block contenido %}
    <section id="listado" class="container">
        <div class="card">
            <div class="card-header">
                Peliculas
            </div>
            <div class="card-body">
                <h5 class="card-title">Aqui podras gestionar tus peliculas</h5>
                <a href="{% url 'crear_video' %}" class="btn btn-primary">Agregar pelicula</a>
            </div>

            <br>
            {% load static %}
            <img src="{% static '/videos/images/diadelprogramador.jpeg' %}" alt="">
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Portada</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    {% for pelicula in peliculas %}
                        <tr>
                            <td>{{pelicula.id}}</td>
                            <td>{{pelicula.nombre}}</td>
                            <td>{{pelicula.descripcion}}</td>
                            <td>
                                <img src="{{pelicula.imagen.url}}" alt="{{pelicula.nombre}}" width="20%">
                            </td>
                            <td>
                                <a href="{% url 'editar_video' %}" title="Editar" class="btn btn-warning"><i class="fas fa-pencil"></i></a>
                                <a href="{% url 'eliminar_video' pelicula.id %}" title="Eliminar" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}